<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./../assets/images/app_logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./../assets/styles/global.css" />
    <title>CONSULTA BRASIL</title>
  </head>
  <body>
    <div class="container">
      <header>
        <img class="logo" src="./../assets/images/app_logo.png" />
      </header>
      <section>
        <div class="text-center tax box content">
          <h1>Termos de uso</h1>
          <p>
            Ao inscrever-se, acessar esta área de membros, ou iniciar o consumo
            e utilização de nossos produtos ou serviços, inclusive todos os
            recursos e funcionalidades, interfaces de usuário associados não
            especificadas, eventuais aplicativos de conteúdo e softwares
            associados, ou acessar qualquer vídeo ou material disponibilizado,
            você estará aceitando a íntegra dos nossos termos de uso e política
            de privacidade, e celebrando um contrato vinculativo, que foram
            fornecidos previamente em nossa página principal e podem ser
            consultados novamente através dos arquivos anexos.
          </p>
          <br />
          <h2>
            O USUÁRIO é a pessoa física ou jurídica que se cadastrou no WEBSITE
            ou que adquiriu produtos e serviços através desta página pelo que
            reconhece e aceita os presentes Termos de Uso como Contrato por meio
            eletrônico.
          </h2>
          <br />
          <p>
            Atenção! Ao acessar o codigodaenergia.com e/ou ao efetuar a
            aquisição de qualquer produto ou serviço através do mesmo, você está
            se declarando ciente e concordando de forma irrestrita,
            irrenunciável e irretratável, com o inteiro teor deste contrato
            digital (TERMOS DE USO) e com nossa Política de Privacidade.
          </p>
          <br />
          <p>
            Caso você discorde de qualquer parte deste termo, você não deve
            acessar este site nem adquirir qualquer produto ou serviço aqui
            relacionado.
          </p>
          <br />
          <p>
            Eventual tolerância da FORNECEDORA quanto ao descumprimento de
            qualquer obrigação prevista em seus Termos de Uso, contratos e na
            Política de Privacidade do WEBSITE não implica em novação nem
            tampouco em renúncia ao direito de exigir o cumprimento da
            obrigação.
          </p>
          <br />
          <p>
            Importante! Alguns produtos digitais, serviços e/ou conteúdos
            oferecidos pela FORNECEDORA são objeto de contratos específicos,
            devendo o presente instrumento, nestes casos em específico, ser
            tratado como suplementar. Em não havendo contrato específico
            apresentado previamente para o USUÁRIO para determinado produto
            digital, serviço e/ou conteúdo, valerão as regras gerais
            especificadas no respectivo contrato-tipo, conforme a modalidade
            “curso livre”, “mentoria”, “imersão” ou “assinatura recorrente”,
            anexos e partes integrantes dos presentes TERMOS LEGAIS para todos
            os fins de direito.
          </p>
          <br />
          <p>
            A FORNECEDORA poderá fornecer dados dos contratos firmados na
            modalidade “curso livre” ou “mentoria”, a empresas financiadoras de
            valores, nos casos em que o USUÁRIO demonstrar interesse em
            simulação ou adesão ao financiamento.
          </p>
          <br />
          <h2>USO DO SITE</h2>
          <br />
          <p>
            Ao usar o WEBSITE, você está ciente de que o conteúdo aqui
            disponibilizado, seja por meio escrito ou qualquer forma de mídia,
            inclusive imagens, vídeos e voz, são fruto do intelecto dos
            profissionais da FORNECEDORA e, portanto, constituem patrimônio
            intelectual da empresa e/ou dos mesmos.
          </p>
          <br />
          <p>
            A disponibilização do conteúdo para o usuário final, seja ela de
            forma gratuita ou paga, jamais se dá por venda e compra ou outra
            forma de transferência definitiva de propriedade.
          </p>
          <br />
          <p>
            Na aquisição de qualquer direito, produto, infoproduto ou serviços
            da FORNECEDORA, o USUÁRIO se vincula ao respectivo contrato, parte
            integrante dos presentes “termos legais” e abaixo apresentados na
            íntegra.
          </p>
          <br />
          <p>
            O USUÁRIO, portanto, declara-se ciente de que ao acessar o conteúdo
            do WEBSITE o está fazendo mediante mera cessão, de natureza precária
            e temporária, de direito de uso. Por este motivo lhe é vedado fazer
            download de vídeos e/ou áudios, copiar e/ou plagiar conteúdo,
            efetuar engenharia reversa, alterar, suprimir, modificar ou
            inutilizar, de qualquer maneira, dispositivos técnicos introduzidos
            nos exemplares das obras e produções para evitar ou restringir sua
            cópia, e/ou fazer download de material não disponibilizado
            efetivamente para esta finalidade, sob pena de arcar com os danos
            patrimoniais, lucros cessantes, danos morais por uso indevido de
            imagem, voz e /ou propriedade intelectual sem prejuízo de outras
            sanções, inclusive de natureza penal.
          </p>
          <br />
          <p>
            A proibição se estende ainda que o ato vise obter cópia para uso
            exclusivo pessoal.
          </p>
          <br />
          <p>
            O USUÁRIO não pode usar nenhum dado presente no site com finalidade
            de publicidade ou propaganda, direta ou indiretamente, ainda que de
            forma gratuita e sem finalidade comercial, sem a prévia solicitação
            e consentimento da FORNECEDORA.
          </p>
          <br />
          <p>
            Toda e qualquer aquisição de direito de uso dos produtos e/ou
            serviços da FORNECEDORA será realizada por meio de plataformas
            financeiras especializadas em pagamentos eletrônicos e
            intermediação, tais como, mas não limitadas, a Hotmart e Provi as
            quais possuem regulamentos, termos de uso e políticas próprias, que
            devem ser consideradas e avaliadas em seus respectivos âmbitos de
            atuação e sob responsabilidade exclusiva daquelas empresas. Não
            recomendamos que o USUÁRIO efetive qualquer negócio, ou adquira
            qualquer produto ou serviço caso discorde do todo ou em parte dos
            regulamentos, termos de uso e/ou das políticas das plataformas de
            pagamento.
          </p>
          <br />
          <p>
            Após o cadastro, o USUÁRIO passa a receber com prioridade o nosso
            conteúdo, no entanto, tem toda a liberdade de se retirar a partir do
            momento que não quiser mais fazer parte da nossa lista. Essa opção
            estará disponível em um link no rodapé dos próprios e-mails que
            enviarmos a você, ou diretamente pelo meio de contato disponível no
            WEBSITE.
          </p>
          <br />
          <h2>PROPRIEDADE INTELECTUAL</h2>
          <p>
            Todos os direitos relativos a este WEBSITE são reservados à
            FORNECEDORA, inclusive, mas não se limitando a textos, imagens,
            áudios, vídeos e quaisquer outros conteúdos. Todas as marcas aqui
            apresentadas são da FORNECEDORA, ou de empresas parceiras,
            afiliadas, fornecedoras ou referem-se a produtos para os quais
            possuímos a devida licença de comercialização.
          </p>
          <br />
          <p>
            É terminantemente proibido ao usuário do site: reproduzir, utilizar,
            copiar, distribuir, permitir o acesso público, efetuar aquisição do
            direito de acesso a qualquer curso ou serviço de forma coletiva
            (“group buy”), disponibilizar nossos conteúdos de forma gratuita ou
            onerosa ao público em geral, transformar, plagiar, ou modificar de
            quaisquer formas os conteúdos da FORNECEDORA, a menos que possua
            prévia autorização por escrito do titular dos correspondentes
            direitos.
          </p>
          <br />
          <h2>LIMITAÇÃO DE RESPONSABILIDADE</h2>
          <p>
            É vedado ao USUÁRIO que discorde parcial ou integralmente da
            política de privacidade ou dos termos de uso aqui veiculados acessar
            o conteúdo do WEBSITE.
          </p>
          <br />
          <p>
            Tendo em vista as características inerentes ao ambiente da internet,
            é possível que ocorram interrupções ou suspensões de conexão,
            transmissões de computador incompletas ou que venham a falhar, bem
            como por falha técnica de qualquer tipo, incluindo, mas não se
            limitando, ao mau funcionamento eletrônico de qualquer rede,
            “hardware” ou “software” ou mesmo equipamento do USUÁRIO.
          </p>
          <h2>CONTATO</h2>
          <br />
          <p>
            Todo contato por parte de usuários da FORNECEDORA deverá ocorrer
            através do canal de contato disponível no WEBSITE.
          </p>
          <br />
          <h2>DISPOSIÇÕES GERAIS</h2>
          <p>
            Qualquer dúvida ou solicitações relacionadas a estes Termos de Uso,
            contratos ou à Política de Privacidade deverão ser apresentadas
            através do canal de contato disponível no WEBSITE.
          </p>
          <br />
          <p>
            Para dirimir de forma definitiva quaisquer dúvidas relativas aos
            termos de uso ou política de privacidade, bem como uso do site ou
            infração à direitos de propriedade intelectual, fica eleito o foro
            da Comarca de Passo Fundo, Estado do Rio Grande do Sul, em
            detrimento de qualquer outro, por mais privilegiado que seja.
          </p>
          <br />
          <hr />
          <br />
          <br />
          <h2>
            Anexo I – Contrato de Cessão de Direitos de Uso de Infoproduto
            (Cursos Livres)
          </h2>
          <br />
          <br />
          <p>São partes deste instrumento:</p>
          <br />
          <br />
          <p>
            De um lado, a FORNECEDORA do curso livre, detentora do WEBSITE e
            subendereços, e de outro lado, o Cessionário/Usuário e/ou
            Responsável Financeiro, aderente aos presentes termos e condições
            gerais, devidamente identificado através das informações prestadas à
            plataforma de pagamentos (“CESSIONÁRIO”).
          </p>
          <br />
          <br />
          <h3>Cláusula Primeira – Do Objeto</h3>
          <br />
          <br />
          <p>
            Este contrato tem como objeto a cessão de direito de uso de conteúdo
            de curso livre (“CURSO”), obra intelectual encerrada na forma de um
            produto apresentado eletronicamente (“infoproduto”) ao CESSIONÁRIO,
            cujos direitos autorais são de propriedade da FORNECEDORA.
            <br />
            <br />
            § 1º. O CURSO é ofertado na modalidade online, inserido na
            PLATAFORMA de ensino à distância disponível em endereço eletrônico
            onde o CESSIONÁRIO tem acesso à íntegra do conteúdo intelectual
            adquirido.
            <br />
            <br />
            § 2º. O acesso do CESSIONÁRIO à PLATAFORMA ora contratado será de 12
            (doze) meses a contar da cessão.
            <br />
            <br />
            § 3º. O CESSIONÁRIO declara-se ciente e concorda que o preço
            definido pelo CURSO bem como o número de parcelas para pagamento –
            se aplicável –, não têm qualquer relação com disponibilidade do
            material adquirido. Deste modo, após a entrega do CURSO ao
            CESSIONÁRIO, e decorrido o prazo de garantia, será devida A
            INTEGRALIDADE DO PREÇO AJUSTADO, não podendo o CESSIONÁRIO
            interromper o pagamento por ter, exemplificadamente, deixado de
            consumir o curso no todo ou em parte ao longo do período em que para
            ele se encontra disponibilizado, não é motivo para ressarcimento de
            valores.
            <br />
            <br />
            § 4º. O CESSIONÁRIO reconhece, expressamente, compreender que: Todas
            as estratégias reveladas em cursos envolvem ou podem envolver riscos
            de prejuízos materiais ao serem aplicadas, e nenhuma informação
            contida nos infoprodutos oferecidos pela FORNECEDORA deve ser
            interpretada como aconselhamento, específico ou em abstrato, sendo
            certo que qualquer referência a desempenho passado ou potencial de
            uma determinada estratégia não é e não deve ser interpretada como
            uma recomendação ou como garantia de qualquer resultado ou lucro
            específico.
            <br />
            <br />
            NÃO SE TRATA de um contrato de prestação de serviços, e, portanto,
            NÃO PODE ser interrompido unilateralmente. Trata-se de uma cessão de
            direito de uso de infoproduto (o conteúdo do CURSO), material
            escrito e audiovisual em suporte eletrônico, fornecido integralmente
            ao CESSIONÁRIO, que decide como e quando irá consumi-lo.
            <br />
            <br />
            Com a entrega do CURSO ao CESSIONÁRIO nos termos e condições deste
            contrato, aperfeiçoa-se o negócio e resta integralmente cumprida a
            obrigação principal da FORNECEDORA.
            <br />
            <br />
            Uma vez cumprida a obrigação principal da FORNECEDORA de entregar o
            material adquirido, e ultrapassado o prazo de desistência
            estabelecido, fica o CESSIONÁRIO devedor da integralidade do preço
            ajustado, INDEPENDENTEMENTE DA MODALIDADE DE PAGAMENTO ESCOLHIDA
            pelo CESSIONÁRIO, tais como mas não limitadas a, divisão junto à sua
            administradora de cartão de crédito, financiamento bancário,
            parcelamento direto com a FORNECEDORA, ou pagamento como
            “recorrência” junto à plataforma de intermediação de vendas
            eletrônicas.
            <br />
            <br />
            O conteúdo do CURSO poderá ser apresentado conforme cronograma
            pedagógico para melhor aproveitamento didático.
            <br />
            <br />
            Com a entrega do infoproduto à consumidora (consubstanciado pelo
            acesso à plataforma de uso do conteúdo do curso adquirido), e
            superados os prazos legal e contratual para a desistência do negócio
            pelo CESSIONÁRIO, não é obrigada a FORNECEDORA a receber de volta de
            forma antecipada o CURSO fornecido nem a proceder com a devolução de
            valores já recebidos.
            <br />
            <br />
            É inaplicável ao presente contrato o instituto do “cancelamento de
            serviço”, porque não se trata de serviço em sua essência, mas de
            produto – intangível dada a sua natureza eletrônica e intelectual –
            mas que como qualquer outro produto, uma vez entregue, e tendo sido
            comercializado à distância, possui o consumidor o direito de dele
            testar para, no prazo legal ou contratualmente diferido, refluir de
            sua decisão recebendo de volta o valor pago, ou confirmá-la
            tacitamente.
            <br />
            <br />
            A eventualidade de o CESSIONÁRIO ter escolhido o parcelamento do
            preço ajustado não interfere no fato de ainda ser devido,
            integralmente, o preço do produto adquirido, quando verificado que
            não possui mais direito à desistência do contrato com restituição
            das importâncias pagas e devolução da coisa.
            <br />
            <br />
            A tomada de medidas unilaterais pelo CESSIONÁRIO junto à
            administradora de cartão de crédito, instituição bancária, ou de
            qualquer outra forma, que interrompa o pagamento dos valores devidos
            à FORNECEDORA ensejará a tomada das medidas judiciais cíveis
            necessárias para a cobrança das quantias impagas, acrescidas das
            penalidades contratualmente estabelecidas e despesas processuais,
            sem prejuízo da notitia criminis para apuração, pela autoridade
            policial competente, da possível ocorrência do tipo previsto no art.
            168 do Código Penal Brasileiro.
          </p>
          <br />
          <br />
          <h3>Cláusula Segunda – Da Cessão</h3>
          <br />
          <br />
          <p>
            O CESSIONÁRIO requereu a cessão dos direitos de uso do conteúdo do
            CURSO conforme dados preenchidos no gateway de pagamento ou em
            formulário próprio disponibilizado pela FORNECEDORA no WEBSITE,
            declarando previamente ter lido e aceitado integralmente todas as
            normas de Políticas, contratos e Termos de Uso disponíveis na
            íntegra neste mesmo WEBSITE, bem como na legislação aplicável e as
            emanadas de outras fontes normativas, desde que regulem
            supletivamente a matéria.
            <br />
            <br />
            § 1º. O CESSIONÁRIO declara que, previamente ao seu requerimento,
            teve acesso à todas as informações relativas ao CURSO, ficando desde
            já consignado que FUTURAS DÚVIDAS DEVERÃO SER TRATADAS EM LOCAL
            ESPECÍFICO disponibilizado ou indicado no WEBSITE.
            <br />
            <br />
            § 2º. O CESSIONÁRIO declara-se ciente de que, não havendo disposição
            mais favorável em escritos particulares, recibos, pré-contratos ou
            anúncios comerciais, o prazo para que exerça o direito de
            arrependimento sobre o presente contrato será de 7 (sete) dias
            corridos, contados da cessão, em consonância com o artigo 49 do
            Código de Defesa do Consumidor.
            <br />
            <br />
            § 3º. A efetivação da cessão, independentemente de ter transcorrido
            ou não o prazo de arrependimento supra, significa, para todos os
            fins, plena concordância com os termos e condições deste contrato e
            demais documentos mencionados na Cláusula Segunda, caput, supra.
          </p>
          <br />
          <br />
          <h3>Cláusula Terceira – Do Acesso ao Curso</h3>
          <br />
          <br />
          <p>
            Após a efetivação da cessão nos moldes da cláusula segunda supra, a
            FORNECEDORA disponibilizará acesso a endereço eletrônico
            (“codigodaenergia.com/alunos”), mantido pela própria FORNECEDORA ou
            outra provedora, cujo ingresso se dará exclusivamente por meio de
            login e senha de natureza pessoal e intransferível.
            <br />
            <br />
            § 1º. A senha é de uso pessoal e intransferível do CESSIONÁRIO, que
            responderá pela utilização indevida da mesma e por todos os danos e
            prejuízos decorrentes da disponibilização a terceiros, seja com o
            intuito de auferir lucro ou não, sendo a guarda da senha exclusiva
            responsabilidade do CESSIONÁRIO.
            <br />
            <br />
            § 2º. A senha garantirá acesso exclusivamente ao conteúdo do CURSO
            contratado, e o acesso ao CURSO para seu uso ocorrerá pelo prazo
            específico de 12 (doze) meses a contar do pagamento, findo o qual,
            será bloqueada automaticamente.
            <br />
            <br />
            § 3º. Não é permitido o acesso à Área do Curso de forma simultânea
            em mais de um terminal (computador, tablet, celular, ou qualquer
            outra tecnologia).
          </p>
          <br />
          <br />
          <h3>
            § 4º. É TERMINANTEMENTE VEDADO AO CESSIONÁRIO, SOB PENA DE IMEDIATA
            RESCISÃO DA CESSÃO, COM EXPULSÃO DO CURSO SEM DIREITO À DEVOLUÇÃO DE
            VALORES E SEM PREJUÍZO DAS DEMAIS MEDIDAS CABÍVEIS NO ÂMBITO CIVIL E
            CRIMINAL:
          </h3>
          <br />
          <br />
          <p>
            <b>
              – COMPARTILHAR SEU LOGIN E SENHA COM TERCEIROS;
              <br />
              <br />
              – ADQUIRIR, VENDER OU COMPARTILHAR, COM INTUITO DE LUCRO OU NÃO, O
              CURSO EM GRUPO, OU REGIME DE “GROUPBUY”, OU OUTRA FORMA DE RATEIO
              ONDE VÁRIAS PESSOAS ADQUIREM O ACESSO ATRAVÉS DO NOME DE UMA ÚNICA
              PESSOA COMPARTILHANDO-O ENTRE SI.
              <br />
              <br />
              – FAZER USO DE FERRAMENTAS PARA GRAVAR A TELA OU PARA DE QUALQUER
              FORMA FAZER O DOWNLOAD DOS VÍDEOS DO CURSO AINDA QUE PARA USO
              EXCLUSIVO PESSOAL. FAZER USO DE FERRAMENTAS PARA GRAVAR O ÁUDIO
              DOS VÍDEOS OU PARA DE QUALQUER FORMA FAZER O DOWNLOAD DOS ÁUDIOS
              NÃO DISPONIBILIZADOS ESPECIFICAMENTE PARA ESTA FINALIDADE, AINDA
              QUE PARA USO EXCLUSIVO PESSOAL.
              <br />
              <br />
              – FAZER USO DE FERRAMENTAS PARA FOTOGRAFAR A IMAGEM DA TELA,
              INCLUSIVE PRINTSCREENS DE SMARTPHONES, AINDA QUE PARA USO
              EXCLUSIVO PESSOAL.
              <br />
              <br />
              – COMPARTILHAR O CURSO, DE MANEIRA GRATUITA OU ONEROSA, EM
              PLATAFORMAS DE VENDA TAIS COMO, MAS NÃO LIMITADAS, A “MERCADO
              LIVRE”, “MERCADO PAGO”, “OLX”, “WHATSAPP”, “TELEGRAM” OU EM
              QUALQUER TIPO DE MÍDIA, VEZ QUE ESTE ATO CONSTITUI A PRÁTICA DE
              PIRATARIA E SERÁ PUNIDO NA FORMA DA LEI.
            </b>
          </p>
          <br />
          <br />
          <p>
            § 5º. As aulas podem ser disponibilizadas de forma sequencial e
            integralmente online, e, para melhor aproveitamento didático a
            sequência será faseada ao longo das semanas que se sucedem à cessão.
            <br />
            <br />
            § 6º. O CESSIONÁRIO declara-se ciente de que a utilização das
            ferramentas pedagógicas disponibilizadas pela FORNECEDORA ao
            CESSIONÁRIO tais como: a) materiais de apoio, b) aulas
            complementares ou de bônus; e c) atividades e exercícios, fazem
            parte do ambiente de aprendizado e estão sujeitas a estes termos de
            uso, política de privacidade e política de direitos autorais.
            <br />
            <br />
            § 7º. O CESSIONÁRIO declara-se ciente e concorda com o fato de que
            em hipótese alguma lhe está sendo comercializado qualquer direito de
            propriedade relativo ao curso. O acesso é meramente uma cessão de
            direito de uso do conteúdo intelectual (a “Obra”).
            <br />
            <br />
            § 8º. O CESSIONÁRIO é responsável pelo sigilo de seu acesso na “Área
            do Curso”, sendo vedada a transferência a terceiros, sob pena de
            rescisão contratual e apuração de eventual violação de direitos
            autorais. Além disso, o CESSIONÁRIO compromete-se a manter seus
            dados cadastrais atualizados junto à FORNECEDORA, especialmente pelo
            acesso próprio na “Área do Curso” (“Dados Cadastrais”).
            <br />
            <br />
            § 9º. Na eventual participação em ferramentas pedagógicas de grupo
            (como fóruns, debates, chats, comunidades, etc.) ou mesmo em redes
            sociais, deverá o CESSIONÁRIO manter conduta compatível com a vida
            social sob pena de sua atitude “antissocial” ser causa de exclusão
            da utilização da ferramenta específica ou mesmo a rescisão do
            contrato em caso de conduta grave, reincidente ou que atente contra
            a dignidade da pessoa humana, contra as liberdades individuais ou
            tenha cunho discriminatório ou obsceno.
            <br />
            <br />
            § 10. A senha garantirá acesso exclusivamente ao conteúdo do CURSO
            contratado e pelo prazo de duração previsto no mesmo, sendo
            bloqueada imediatamente após expirada.
            <br />
            <br />
            § 11. Todo conteúdo disponibilizado para o CURSO, seja por escrito,
            audiovisual ou por quaisquer outras mídias, é de propriedade
            exclusiva da FORNECEDORA e protegida pela legislação nacional e
            internacional de propriedade intelectual, ficando vedada a
            reprodução, transmissão, divulgação, armazenamento e exibição no
            todo ou em parte a terceiros que não figurem como parte deste
            instrumento.
          </p>
          <br />
          <br />
          <h3>Cláusula Quarta – Do Preço</h3>
          <br />
          <br />
          <p>
            Pela aquisição do infoproduto objeto deste instrumento o CESSIONÁRIO
            pagará à FORNECEDORA o valor descrito no requerimento de cessão, nos
            valores e vencimentos que tenha escolhido por ocasião da aquisição
            do direito de uso.
            <br />
            <br />
            § 1º. Caso a opção de pagamento tenha sido por boleto bancário ou
            depósito (se estas opções estiverem disponíveis por ocasião da
            aquisição dos direitos de cessionário), fica avençado que todas as
            taxas com a emissão e reemissão dos boletos serão arcadas pelo
            consumidor, e que o atraso no pagamento de quaisquer parcelas será
            acrescido de multa moratória no importe de 2% (dois por cento) sobre
            o principal, acrescida de correção monetária pelo IGPM-FGV e juros
            de mora no importe de 1% (um por cento) ao mês, calculado pro rata
            dies, nos termos do disposto no art. 52, § 1º, do Código de Defesa
            do Consumidor.
            <br />
            <br />
            § 2º. Desde logo fica estabelecido que o atraso no pagamento de
            qualquer parcela ou obrigação de pagamento decorrente deste contrato
            permitirá a FORNECEDORA, cumulativamente:
            <br />
            <br />
            Registrar a existência do débito nos institutos de proteção ao
            crédito, tais como SPC e SERASA, dentre outros, nos termos do art.
            43, § 2º, do Código de Defesa do Consumidor, sempre que o atraso de
            qualquer parcela for superior a 30 (trinta) dias.
            <br />
            <br />
            Protestar e/ou cobrar judicial ou extrajudicialmente o valor devido,
            devendo o CESSIONÁRIO arcar com todas as custas, despesas e encargos
            de cobrança de 10% (dez por cento), além de honorários advocatícios
            de 20% (vinte por cento), em ambos os casos calculados sobre o valor
            total do débito, acrescido de custas e despesas extrajudiciais e
            judiciais.
            <br />
            <br />
            Impedir o CESSIONÁRIO de usufruir de quaisquer serviços
            complementares oferecidos, incluindo, mas não se limitando ao acesso
            locais de solução de dúvidas, downloads etc.
            <br />
            <br />
            Rescindir este contrato.
            <br />
            <br />
            § 3º. Comprovado à FORNECEDORA o pagamento da(s) parcela(s)
            inadimplida(s), deverá a FORNECEDORA requerer a exclusão do
            apontamento nos cadastros dos institutos de proteção ao crédito no
            prazo máximo de 05 (cinco) dias úteis, ficando aqui esclarecido que
            após o requerimento, haverá o prazo dos próprios órgãos para
            efetivar a retirada do nome.
            <br />
            <br />
            § 4º. Qualquer desconto eventualmente concedido ao CESSIONÁRIO terá
            caráter excepcional e não constituirá compromisso de concessão para
            outros cursos que o CESSIONÁRIO faça ou pretenda fazer junto à
            FORNECEDORA.
            <br />
            <br />

            § 5º. Caso o CESSIONÁRIO tenha optado pelo uso do cartão de crédito
            como forma de pagamento, este se declara já ciente que a FORNECEDORA
            não possui informações acerca da data de fechamento da fatura, e,
            portanto, não se responsabiliza pela cobrança de mais de uma parcela
            na mesma fatura, devendo o CESSIONÁRIO consultar previamente a sua
            emissora do cartão de crédito.
            <br />
            <br />
            § 6º. Caso o CONTRATANTE opte pelo financiamento do preço do
            presente contrato, o CONTRATANTE desde logo confere à FORNECEDORA
            autorização expressa para o compartilhamento com a Provi Soluções e
            Serviços Ltda. (“Provi”) de dados e informações relativas ao
            presente contrato e sua execução, e ao cumprimento das obrigações
            aqui reguladas, desde que para fins relacionados ao financiamento
            contratado por meio da Cédula de Crédito Bancário vinculada.
            <br />
            <br />
            § 7º. Na hipótese de atraso no pagamento das parcelas devidas pelo
            CONTRATANTE para financiamento do preço aqui regulado, por prazo
            superior a 5 dias, nos termos da Cédula de Crédito Bancário emitida
            por Instituição Financeira Parceira e posteriormente endossada à
            Provi, o CONTRATANTE expressamente autoriza que a FORNECEDORA
            cancele seu acesso ao produto, desde que assim solicitado pela
            Provi, sem que nada seja devido pela FORNECEDORA e Provi nesse
            sentido. Para tanto, antes de aplicar a penalidade aqui prevista, a
            Provi se compromete a notificar o CONTRATANTE concedendo prazo de 3
            dias, para que seja sanado o descumprimento de suas obrigações no
            âmbito da Cédula de Crédito Bancário.
          </p>
          <br />
          <br />
          <h3>Cláusula Quinta – Das Obrigações do CESSIONÁRIO</h3>
          <br />
          <br />
          <p>
            Constituem obrigações do CESSIONÁRIO:
            <br />
            <br />
            Previamente à solicitação da cessão do direito de uso do CURSO,
            analisar o descritivo do CURSO e o conteúdo a fim de avaliar se o
            mesmo é adequado aos seus interesses.
            <br />
            <br />
            Em todas as modalidades de CURSO, respeitar as normas de convívio
            social e a de conduta.
            <br />
            <br />
            Para acesso ao conteúdo disponibilizado na “Área do Curso”, possuir
            equipamentos e softwares ligados à internet.
            <br />
            <br />
            Manter seus dados cadastrais atualizados e com informações
            verídicas, bem como zelar pela confidencialidade de seu login e
            senha, de forma a não permitir nem possibilitar o compartilhamento
            com terceiros.
            <br />
            <br />
            Não reproduzir, sob qualquer forma, o material do CURSO, sob pena de
            responder civil e criminalmente perante a FORNECEDORA e terceiros,
            nos termos da Lei 9.609, de 19 de fevereiro de 1998, por violação de
            propriedade intelectual, devendo o uso deste ser feito
            exclusivamente em âmbito privado pelo CESSIONÁRIO.
            <br />
            <br />
            Não comercializar ou ceder a qualquer título, no todo ou em parte,
            sua senha a terceiros estranhos à esta relação comercial.
            <br />
            <br />
            Não copiar por qualquer meio, inclusive download ou gravação de
            tela, os vídeos, áudios e documentos, devendo acessar o CURSO apenas
            de forma online e exclusivamente através da plataforma de ensino.
            <br />
            <br />
            Seguir os padrões de conduta estabelecidos e vigentes na internet,
            abstendo-se de: (i) violar a privacidade dos outros usuários; (ii)
            permitir que outras pessoas utilizem seu acesso ao curso; (iii)
            utilizar qualquer técnica de invasão ao site que viole a segurança
            do ambiente de treinamento e de sites a ele relacionados; (iv) não
            agir conscientemente para destruir arquivos ou programas do ambiente
            e de sites relacionados; (v) utilizar os nomes e e-mails dos
            participantes do curso para fins comerciais; (vi) enviar mensagens
            que possam ser consideradas obscenas e/ou fora dos padrões éticos e
            de bons costumes.
          </p>
          <h3>Cláusula Sexta – Das Obrigações da Fornecedora</h3>
          <br />
          <br />
          <p>
            Compete exclusivamente à FORNECEDORA:
            <br />
            <br />
            Fornecer e garantir o acesso ao CURSO desde que o CESSIONÁRIO cumpra
            suas obrigações e não tenha cometido falta grave que justifique sua
            expulsão. Manter corpo administrativo adequado para solucionar
            dúvidas referentes a acesso ou ao CURSO. Após a confirmação da
            cessão, disponibilizar acesso à “Área do Curso”. Cláusula Sétima –
            Da Rescisão Em caso de inadimplemento de qualquer cláusula ou
            obrigação do presente contrato pelo CESSIONÁRIO, poderá a
            FORNECEDORA resolvê-lo, ficando o CESSIONÁRIO impedido de acessar a
            “Área do Curso” e grupos do curso de forma imediata, sem que esta
            medida importe em qualquer tipo de indenização ao CESSIONÁRIO.
            <br />
            <br />
            § 1º. Sem prejuízo das demais disposições previstas neste contrato,
            a FORNECEDORA poderá resolver imediatamente o presente instrumento
            caso o CESSIONÁRIO: (i) use indevidamente os materiais
            disponibilizados para realização do curso, conforme indicado na
            cláusula terceira e subcláusulas; (ii) caso o CESSIONÁRIO
            compartilhe login e senha ou a reprodução não autorizada do material
            fornecido pela FORNECEDORA.
            <br />
            <br />
            § 2º. Não havendo disposição mais favorável em escritos
            particulares, recibos, pré-contratos ou anúncios comerciais, o prazo
            para que o CESSIONÁRIO exerça o direito de arrependimento sobre o
            presente contrato será de 7 (sete) dias corridos, contados da
            cessão, em consonância com o artigo 49 do Código de Defesa do
            Consumidor.
            <br />
            <br />
            A garantia para a desistência imotivada prevista neste instrumento
            não é complementar à legal de 7 (sete) dias contados da cessão,
            disposta no artigo 49 do Código de Defesa do Consumidor.
            <br />
            <br />
            Para cancelamento do CURSO no prazo de arrependimento o CESSIONÁRIO
            deverá proceder através do meio de contato oficial disponível ou
            indicado no WEBSITE da FORNECEDORA.
            <br />
            <br />
            A devolução do(s) valor(es) pago(s) em caso de exercício do direito
            de arrependimento no prazo contratual ocorrerá em no máximo 30
            (trinta) dias úteis, sendo computado(s) como marco inicial a data do
            fornecimento pela FORNECEDORA da ciência de que foi solicitado o
            cancelamento no prazo de arrependimento.
            <br />
            <br />
            Cláusula Oitava – Das Disposições Gerais
            <br />
            <br />
            Constituem disposições gerais aplicáveis ao presente contrato:
            <br />
            <br />
            O CESSIONÁRIO é responsável civil e criminalmente pela veracidade
            dos dados inseridos no requerimento de cessão, declarações,
            informações e documentos que fornecer e pelas consequências que
            deles advierem.
            <br />
            <br />
            O CESSIONÁRIO será responsável pelo ressarcimento de danos
            materiais, lucro cessante, perda de oportunidade e danos morais que
            culposa ou dolosamente causar para a FORNECEDORA e/ou terceiros.
            Serviços realizados por terceiros não cobertos pelo presente
            contrato deverão ser contratados e pagos diretamente pelo
            CESSIONÁRIO.
            <br />
            <br />
            A tolerância das partes não implica em renúncia, perdão, novação ou
            alteração do pactuado neste instrumento, podendo a parte que se
            sentir lesada exigir o seu direito a qualquer tempo.
            <br />
            <br />
            Se qualquer das cláusulas deste contrato for considerada nula ou
            anulável judicialmente, tal cláusula será desconsiderada do
            contrato, permanecendo válida todas as demais, e em pleno vigor e
            efeito.
            <br />
            <br />
            A FORNECEDORA não se responsabiliza por eventuais problemas
            decorrentes da interrupção dos serviços de provedor de acesso à
            internet contratado pelo CESSIONÁRIO, nem pela interrupção dos
            serviços em caso de falta de fornecimento de energia elétrica para o
            sistema do seu provedor de acesso, falhas no sistema de transmissão
            ou roteamento de acesso à internet, de incompatibilidade de sistemas
            do usuário com o provedor de acesso, de qualquer ação de terceiros
            que impeçam o acesso ao curso, por problemas decorrentes de caso
            fortuito ou de força maior, e ainda, por determinação proveniente de
            decisão administrativa ou judicial.
          </p>
          <br />
          <br />
          <h3>Cláusula Nona – Caso Fortuito ou Força Maior</h3>
          <br />
          <br />
          <p>
            Conforme previsto no artigo 393 do Código Civil Brasileiro, nenhuma
            parte será responsabilizada por falhas no cumprimento de suas
            respectivas obrigações, quando o cumprimento de tais obrigações
            tenha sido impedido ou atrasado em virtude da ocorrência de eventos
            comprovadamente caracterizados como caso fortuito ou força maior.
            <br />
            <br />
            Parágrafo Único. Em atenção ao público e notório estado de
            emergência de saúde pública de importância internacional decorrente
            da pandemia da Covid-19 e calamidade pública, reconhecido por ambas
            as partes e pelo Decreto Legislativo nº 6, de 20 de março de 2020,
            nos termos da solicitação do Presidente da República encaminhada por
            meio da Mensagem nº 93, de 18 de março de 2020, bem como decretos
            regulamentadores e medidas provisórias correlatas, não serão
            considerados casos fortuitos ou força maior aqueles decorrentes de
            novos desdobramentos da pandemia de Coronavírus (2019-nCoV).
          </p>
          <br />
          <br />
          <h3>Cláusula Dez – Da Adesão</h3>
          <p>
            Dando prosseguindo à aquisição do direito de cessão ao CURSO, e ao
            consumo de seu conteúdo, sem oposição ao presente contrato, que foi
            apresentado preliminarmente ao CESSIONÁRIO, o CESSIONÁRIO expressa
            ter lido e compreendido o presente contrato e os demais instrumentos
            jurídicos mencionados e disponibilizados no WEBSITE, tendo utilizado
            os mecanismos de atendimento para sanar e esclarecer todas suas
            dúvidas, e enfim estando de devidamente esclarecido e de acordo, na
            íntegra, em relação a todos os termos e condições que lhe foram
            apresentados, assume os direitos e obrigações estabelecidos, o que
            se dará por bem feito para todos os fins de direito.
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
