@charset "utf-8";
@font-face {
	font-family: Gotham Rounded;
	src: url("font.otf") format("opentype");
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: Gotham Rounded;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgb(255, 255, 255);
	background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-blend-mode: darken;
}

.btn-only {
	width: 100%;
	padding: 10px 0;
	background: #2fa7de;
	border: 0;
	outline: none;
	color: white;
	font-size: 30px;
	border-radius: 7px;
	cursor: pointer;
	box-shadow: 0 3px 0px rgba(0, 0, 0, 0.2);
}



.container {
	width: 700px;
	max-width: 90%;
}

.black {
	background-color: white;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 0 100px 0px #0ad003;
	
}

.answer {
	display: grid;
	grid-template-columns: repeat(1, auto);
	gap: 10px;
}



.black h1 {
	color: #0ad003;
}

.black p {
	font-size: 18px;
	color: black;
}
